* {
	font-size: 16px;
	font-family: "ComicMono";
}

window#waybar {
/*	background: #292b2e;*/
    background: rgb(28, 28, 28);
/*    background: #282828;*/
	color: #fdf6e3;

}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #292b2e;
	background: #1a1a1a;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#backlight,
#memory,
#cpu,
#battery,
#disk,
#network,
#tray {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #ebdbb2;
}

#tray {
    margin-left: 10px;
}

#workspaces {
    margin-left: 10px;
    margin-right: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

#workspaces button {
	padding: 0 10px;
    color : #566AB4;
}
#workspaces button.focused {
    color: #ffcacb;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}

#pulseaudio {
	color: #2aa198;
}
#backlight{
    color: #268bd2;
}
#memory {
	color: #2aa198;
}
#cpu {
	color: #6c71c4;
}
#battery {
	color: #859900;
}
#battery.warning{
	color: #FFA500;
}
#battery.critical{
    color: #FF0000;
}
#disk {
	color: #b58900;
}
#network{
	color: #6c71c4;
}
#network.disconnected{
    color: #FF0000;
}

#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#backlight,
#memory,
#cpu,
#network,
#battery,
#disk {
	padding: 3px 15px;
    margin-right: 10px;
}

